.leftpaneSide {
  flex: 2;
}

.leftpaneMenu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.leftpaneContainer {
  padding: 20px;
}

.leftpaneMenuItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.leftpaneMenuIcon {
  margin-right: 20px;
}

.leftpaneMenuMsg {
  font-size: large;
}

.LikePageImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
